<div class="content">
	<div class="container">
		<form [formGroup]="matriceForm"	 autocomplete="off" >
			<h2>Problème de transport</h2>
			<input type="number" [(ngModel)]="number_line" [ngModelOptions]="{standalone: true}" placeholder="Number line">
			<input type="number" [(ngModel)]="number_column"  [ngModelOptions]="{standalone: true}" placeholder="Number columns">
			<button (click)="onGenarate()">Generate</button>
		</form>
		<div class="flex direction-col flex-center">
			<div>
				<div class="content-data">
					<table class="principale-data">
						<tr *ngFor="let line of lines">
							<td *ngFor="let column of columns">
								<input id="{{line}}x{{column}}" type="text" (input)="onInput($event)">
							</td>
						</tr>
					</table>
					<table class="des">
						<tr *ngFor="let line of lines; let index">
							<input id="{{line}}{{index}}" type="text" (input)="onInput($event)">
						</tr>
					</table>
				</div>
				<div>
					<table class="exp">
						<tr>
							<td *ngFor="let column of columns; let index">
								<input id="{{column}}{{index}}" type="text" (input)="onInput($event)">
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>