table{
	position: relative;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	input{
		border: none;
		background: rgb(212, 212, 212);
		color: black;
		border-radius: 2px;
		max-width: 50px;
		height:30px;
		font-size: 15px;
		text-align: center;
		outline: none;
	}
}
.flex{
	display: flex;
}
.flex-center{
	justify-content: center;
	align-items: center;
}
.direction-col{
	flex-direction: column;
}
.principale-data, .exp, .des{
	margin-top: 20px;
}
.alfa{
	margin-top: 50px;
	color: #808080;
	margin-right: 15px;
}
.des{
	margin-left: 20px;
	margin-top: 45px;
	input{
		background: #47706582;
	}
}
.exp{
	margin-left: 30px;
	input{
		background: #47706582;
	}
}
form{
	font-family: cursive;
}
.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 30px;
	.container{
		// max-width: 800px;
		width: 100%;
		align-self: flex-start;
		form{
			.flex{
				justify-content: center;
				gap: 20px;
			}
			input{
				border: none;
				background: rgb(212, 212, 212);
				color: black;
				border-radius: 2px;
				max-width: 100px;
				height:30px;
				font-size: 15px;
				text-align: center;
				outline: none
			}
			.btn{
				outline: none;
				border: none;
				border-radius: 5px;
				cursor: pointer;
				color: white;
				background-color: rgba(51, 206, 172, 0.562);
				&:hover{
					background-color: rgba(51, 206, 172, 1);
				}
			}
			text-align: center;
			h1{
				font-weight: bold;
				color: rgb(128, 128, 128);
			}
			h5{
				color: #c3bfbf;
			}
		}
	}
}
.content-data{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.text-center{
	text-align: center;
	color: #808080	;
}
.btn-a{
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: block;
	color: white;
	// width: 100%;
	padding: 10px;
	background-color: rgba(51, 206, 172, 0.562);
	&:hover{
		background-color: rgba(51, 206, 172, 1);
	}
}