<div class="content">
	<div class="container">
		<form [formGroup]="matriceForm"	 autocomplete="off" >
			<h1>RECHERCHE OPERATIONNELLE</h1>
			<h3>Problème de transport MINICO</h3>
			<div class="flex" style="flex-direction:column">
				<div class="flex">
					<input type="number" [(ngModel)]="number_line" max="42" min="0" [ngModelOptions]="{standalone: true}" placeholder="Ligne">
					<input type="number" [(ngModel)]="number_column" min="0" [ngModelOptions]="{standalone: true}" placeholder="Colonne">
				</div>
				<button (click)="onGenarate()" class="btn" style="width: max-content;padding: 20px;margin: auto;text-transform: uppercase;">Créer le tableau de base</button>
			</div>
		</form>
		<div style="display:flex; flex-wrap: wrap;gap: 20px;justify-content: space-around;">
			<div class="flex direction-col flex-center">
				<div>
					<div class="content-data">
						<table class="alfa">
							<tr *ngFor="let line of lines; let index">
								{{alfa[index]}}
							</tr>
						</table>
						<table class="principale-data">
							<thead>
								<td class="text-center" *ngFor="let column of columns;let index"> {{index + 1}} </td>
							</thead>
							<tr *ngFor="let line of lines">
								<td *ngFor="let column of columns">
									<input id="{{line}}x{{column}}" type="number"  (input)="onInput($event)">
								</td>
							</tr>
						</table>
						<table class="des">
							<tr *ngFor="let line of lines; let index">
								<input id="linex{{index}}" type="number" (input)="onInputLine($event)">
							</tr>
						</table>
					</div>
					<div>
						<table class="exp">
							<tr>
								<td *ngFor="let column of columns; let index">
									<input id="colx{{index}}" type="number" (input)="onInputColumn($event)">
								</td>
							</tr>
						</table>
					</div>
				</div>
				<button class="btn-a" *ngIf="lines.length > 0" (click)="onCalculate()">Calculate</button>
			</div>
			<div #step>
			</div>
		</div>
		<div #step2 >
			<app-custom-diagram  *ngIf="showDiagram" [diagramNodeData]="nodeData" [diagramLinkData]="linkData"></app-custom-diagram>
		</div>
		<div #s style="display: flex;flex-wrap: wrap; gap: 10px;">
		</div>

	</div>
	<div #step3>
	</div>

	<div style="display: flex; justify-content: center;flex-direction:column">
		<h1>SOLUTION OPTIMALE</h1>

		<p class="solution">Z = {{ZValue ?? 'NULL'}} </p>
	</div>
</div>
