table{
	position: relative;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	input{
		border: none;
		background: white;
		color: black;
		max-width: 40px;
		height:40px;
		border-radius: 0;
		font-size: 15px;
		text-align: center;
		outline: none;
	}
}
input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
      }
.flex{
	display: flex;
}
.btn-danger{
	background-color: red;
}
.flex-center{
	justify-content: center;
	align-items: center;
}
.direction-col{
	flex-direction: column;
}
.principale-data, .exp, .des{
	margin-top: 20px;
	
}
.principale-data{
	thead{
	}
	border-collapse: collapse;
	tr td{
		border: 1px solid;
	}
}
.alfa{
	margin-top: 50px;
	margin-right: 15px;
}
.des{
	margin-left: 20px;
	margin-top: 40px;
	input{
		background: #FFF;
		// border: 1px solid;
	}
}
.exp{
	margin-left: 30px;
	input{
		// border: 1px solid;
		background: #FFF;
	}
}
button[disabled]{
	cursor: pointer;
	background-color: gray !important;
}
// form{
// 	font-family: cursive;
// }

.content{
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// margin-bottom: 30px;
	.container{
		// max-width: 800px;
		width: 100%;
		align-self: flex-start;
		form{
			.flex{
				justify-content: center;
				gap: 20px;
			}
			input{
				border: none;
				background: white;
				color: black;
				// border-radius: 2px;
				width: 100px;
				height:40px;
				font-size: 15px;
				text-align: center;
				outline: none
			}
			.btn{
				outline: none;
				border: none;
				// border-radius: 5px;
				cursor: pointer;
				color: white;
				background-color: red
				// &:hover{
				// 	background-color: rgba(51, 206, 172, 1);
				// }
			}
			text-align: center;
			h1{
				font-weight: bold;
				color: #000
			}
			h5{
				color: #c3bfbf;
			}
		}
	}
}
.content-data{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.text-center{
	text-align: center;
	color: #808080	;
}
.btn-a{
	outline: none;
	border: none;
	// border-radius: 5px;
	cursor: pointer;
	display: block;
	color: white;
	// width: 100%;
	padding: 10px;
	// background-color: rgba(51, 206, 172, 0.562);
	// &:hover{
	// 	background-color: rgba(51, 206, 172, 1);
	// }
}


.solution{
	width: max-content;
	margin: auto;
	padding: 10px;
	font-size: 20px;
	background-color: rgb(30, 202, 136);
	color: white;
	font-weight: bold;
}
.container{
	padding: 0;
}